<script setup lang="ts">
import type { Airport } from '@/models/airport';
import PCard from 'primevue/card';

defineProps<{
  airport: Airport;
}>();
</script>

<template>
  <p-card class="airport-card">
    <template #title> {{ airport.name }} ({{ airport.iata }}) </template>
    <template #content>
      <div class="airport-card__content grid">
        <div class="airport-card__property col-12 md:col-6">
          <label class="text-sm mb-1">Country</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airport.country }}
          </div>
        </div>
        <div class="airport-card__property col-12 md:col-6">
          <label class="text-sm mb-1">City</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airport.city }}
          </div>
        </div>
      </div>
    </template>
  </p-card>
</template>
