<script lang="ts" setup>
import PCard from 'primevue/card';
import PInputText from 'primevue/inputtext';
import PButton from 'primevue/button';
import PInputPassword from 'primevue/password';
import PProgressSpinner from 'primevue/progressspinner';
import PMessage from 'primevue/message';
import { ref, computed } from 'vue';
import { RouteNames } from '@/router';

const username = ref('');
const password = ref('');
const loading = ref(false);
const error = ref(false);

const formValid = computed(
  () => username.value.length && password.value.length
);

const login = () => {
  loading.value = true;
  error.value = false;
  setTimeout(() => {
    loading.value = false;
    error.value = true;
  }, 3000);
};
</script>

<template>
  <section class="flex justify-content-center my-3">
    <p-card class="w-20rem">
      <template #title>AirDB Admin Panel login</template>
      <template #content>
        <div class="flex flex-column">
          <p-input-text
            v-model="username"
            :disabled="loading"
            placeholder="Username"
            class="flex-1 mb-2"
          />
          <p-input-password
            v-model="password"
            :disabled="loading"
            placeholder="Password"
            :feedback="false"
            input-class="flex-1 mb-2"
          />

          <p-button
            :disabled="!formValid || loading"
            @click="login()"
            class="flex justify-content-center align-content-center"
          >
            <p-progress-spinner
              v-if="loading"
              style="width: 16px; height: 16px"
              stroke-width="8"
            />
            <span v-else>Login</span>
          </p-button>

          <p-message severity="error" v-if="error" @close="error = false">
            Invalid username or password
          </p-message>

          <router-link
            :to="{ name: RouteNames.ADMIN_EMPLOYEES_PAYMENT_MANAGEMENT_TOOL }"
          >
            <p-button
              label="Employees management"
              class="p-button-sm p-button-link w-full"
            />
          </router-link>
        </div>
      </template>
    </p-card>
  </section>
</template>
