<script lang="ts" setup>
import PCard from 'primevue/card';
import PButton from 'primevue/button';
import PMessage from 'primevue/message';
import { useEmployeesManagement } from '@/composables/use-employees-management';
import { ref } from 'vue';

const SALARY_CHANGE_VERB_DICT = {
  REDUCED: 'reduced',
  INCREASED: 'increased',
} as const;

const salaryChangeVerb = ref('');
const employee = ref('');
const absPercentage = ref(0);
const messageVisible = ref(false);

const { manageRandomEmployee } = useEmployeesManagement();

const manage = async () => {
  messageVisible.value = false;
  const { employeeFullName, salaryChangePercentage } =
    await manageRandomEmployee();
  employee.value = employeeFullName;
  salaryChangeVerb.value =
    salaryChangePercentage >= 0
      ? SALARY_CHANGE_VERB_DICT.INCREASED
      : SALARY_CHANGE_VERB_DICT.REDUCED;
  absPercentage.value = Math.abs(salaryChangePercentage);
  messageVisible.value = true;
};
</script>

<template>
  <section class="flex justify-content-center my-3">
    <p-card class="w-10">
      <template #title>Payment Management Tool</template>
      <template #subtitle>
        If you're not a manager, you probably shouldn't be here...
      </template>
      <template #content>
        <p-button @click="manage()"> 👉 Manage random employee 👈 </p-button>

        <p-message
          v-if="messageVisible"
          @close="messageVisible = false"
          severity="success"
        >
          Salary of <span class="font-bold">{{ employee }}</span> has been
          <span class="font-bold">{{ salaryChangeVerb }}</span> by
          <span class="font-bold">{{ absPercentage }}%</span>
        </p-message>
      </template>
    </p-card>
  </section>
</template>
