<script setup lang="ts">
import { useAirlinesData } from '@/composables/use-airlines-data';
import type { Airline } from '@/models/airline';
import PCard from 'primevue/card';
import PButton from 'primevue/button';
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const { getAirlineDetails } = useAirlinesData();
const airline = ref<Airline | null>(null);

onMounted(async () => {
  airline.value = await getAirlineDetails(Number(route.params.id));
});
</script>

<template>
  <div class="p-3">
    <p-button
      label="Back to list"
      icon="pi pi-arrow-left"
      class="p-button-secondary p-button-text mb-3"
      @click="$router.back()"
    />
    <p-card class="airline-details-card" v-if="airline !== null">
      <template #title> {{ airline.name }}</template>
      <template #content>
        <div class="airline-details-card__content grid">
          <div class="airline-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Name</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airline.name || '-' }}
            </div>
          </div>
          <div class="airline-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">IATA code</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airline.iata || '-' }}
            </div>
          </div>
          <div class="airline-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">ICAO code</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airline.icao || '-' }}
            </div>
          </div>
          <div class="airline-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Callsign</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airline.callsign || '-' }}
            </div>
          </div>
          <div class="airline-details-card__property col-12">
            <label class="text-sm mb-1">Airline status</label>
            <div
              class="flex flex-row justify-content-start align-content-center pt-1"
              :class="{
                'text-green-700': airline.active,
                'text-red-700': !airline.active,
              }"
            >
              <i
                class="pi text-2xl mr-1"
                :class="{
                  'pi-times': !airline.active,
                  'pi-check-square': airline.active,
                }"
              />
              <label class="font-bold" v-if="airline.active">Active</label>
              <label class="font-bold" v-else>Inactive</label>
            </div>
          </div>
        </div>
      </template>
    </p-card>
  </div>
</template>
