<script lang="ts" setup>
import { onMounted, toRefs, watch, ref } from 'vue';
import ContentPagination from '@/components/ContentPagination.vue';
import AirlineCard from '@/components/airline/AirlineCard.vue';
import { useScroll } from '@vueuse/core';
import { RouteNames } from '@/router';
import { useRoute, useRouter } from 'vue-router';
import { useAirlinesData } from '@/composables/use-airlines-data';

const { push } = useRouter();
const { query } = toRefs(useRoute());
const { y: scrollY } = useScroll(document.querySelector('main'));
const { getAirlinesList, airlines: allAirlines } = useAirlinesData();

const ITEMS_PER_PAGE = 36;
const currentPage = ref(Number(query.value.page) || 1);

watch(currentPage, () => {
  scrollY.value = 0;
  push({
    query: { ...query.value, page: currentPage.value },
  });
});

onMounted(async () => {
  await getAirlinesList();
});
</script>

<template>
  <content-pagination
    class="p-3"
    :items="allAirlines"
    :items-per-page="ITEMS_PER_PAGE"
    v-model:current-page="currentPage"
  >
    <template #items="{ pageItems: airlines }">
      <div class="grid">
        <div
          class="col-12 md:col-6 xl:col-4"
          v-for="airline in airlines"
          :key="airline.id"
        >
          <airline-card
            class="cursor-pointer"
            :airline="airline"
            @click="
              $router.push({
                name: RouteNames.AIRLINE_DETAILS,
                params: { id: airline.id },
              })
            "
          />
        </div>
      </div>
    </template>
  </content-pagination>
</template>
