<script lang="ts" setup>
import { onMounted, toRefs, watch, computed, ref } from 'vue';
import PPanel from 'primevue/panel';
import PDropdown from 'primevue/dropdown';
import PMultiSelect from 'primevue/multiselect';
import PInputText from 'primevue/inputtext';
import ContentPagination from '@/components/ContentPagination.vue';
import AirportCard from '@/components/airport/AirportCard.vue';
import { useAirportsData } from '@/composables/use-airports-data';
import { useScroll } from '@vueuse/core';
import { useSorting } from '@/composables/use-sorting';
import { RouteNames } from '@/router';
import type { Airport } from '@/models/airport';
import { useRoute, useRouter } from 'vue-router';
import uniq from 'lodash/uniq';
import sortBy from 'lodash/sortBy';
import map from 'lodash/map';
import { useArrayFilter } from '@vueuse/core';

const { push } = useRouter();
const { query } = toRefs(useRoute());
const { y: scrollY } = useScroll(document.querySelector('main'));
const { getAirportsList, airports: allAirports } = useAirportsData();

const ITEMS_PER_PAGE = 36;
const currentPage = ref(Number(query.value.page) || 1);
const appliedFilters = ref({
  name: (query.value.name as string) ?? '',
  country: (query.value.country as string)?.split(',') ?? [],
});

const { sortedItems: sortedAirports, sortingBy } = useSorting<Airport>({
  items: allAirports,
  initialSorting: (query.value.sortBy as keyof Airport) ?? 'name',
});
const filteredAirports = useArrayFilter(sortedAirports, (airport) => {
  let matched = true;
  if (appliedFilters.value.name) {
    matched &&= airport.name
      .toLowerCase()
      .includes(appliedFilters.value.name.toLowerCase());
  }
  if (
    Array.isArray(appliedFilters.value.country) &&
    appliedFilters.value.country.length
  ) {
    matched &&= appliedFilters.value.country.includes(airport.country);
  }
  return matched;
});

const countryFilterOptions = computed(() =>
  sortBy(uniq(map(allAirports.value, 'country')))
);

watch(sortingBy, () => {
  push({
    query: { ...query.value, sortBy: sortingBy.value },
  });
});

watch(currentPage, () => {
  scrollY.value = 0;
  push({
    query: { ...query.value, page: currentPage.value },
  });
});

watch(
  appliedFilters,
  () => {
    push({
      query: {
        ...query.value,
        name: (appliedFilters.value.name as string) || undefined,
        country:
          (appliedFilters.value.country as string[] | undefined)?.join(',') ||
          undefined,
      },
    });
  },
  { deep: true }
);

const sortingOptions: Array<{ label: string; value: keyof Airport }> = [
  { label: 'Airport name', value: 'name' },
  { label: 'IATA code', value: 'iata' },
  { label: 'Country', value: 'country' },
  { label: 'City', value: 'city' },
];

onMounted(async () => {
  await getAirportsList();
});
</script>

<template>
  <article class="flex flex-column md:flex-row">
    <aside class="p-3">
      <p-panel header="List options" class="w-full md:w-20rem">
        <div class="mb-3">
          <h5 class="font-bold">Sort by</h5>
          <span class="p-buttonset">
            <p-dropdown
              v-model="sortingBy"
              :options="sortingOptions"
              option-label="label"
              option-value="value"
              class="w-full"
            />
          </span>
        </div>
        <div class="mb-3">
          <h5 class="font-bold">Filter by: Country</h5>
          <span class="p-buttonset">
            <p-multi-select
              v-model="appliedFilters.country"
              :options="countryFilterOptions"
              class="w-full"
            />
          </span>
        </div>
        <div class="mb-3">
          <h5 class="font-bold">Filter by: Name</h5>
          <span class="p-buttonset">
            <p-input-text v-model="appliedFilters.name" class="w-full" />
          </span>
        </div>
      </p-panel>
    </aside>
    <content-pagination
      class="p-3 flex-grow-1"
      :items="filteredAirports"
      :items-per-page="ITEMS_PER_PAGE"
      v-model:current-page="currentPage"
    >
      <template #items="{ pageItems: airports }">
        <div class="grid">
          <div
            class="col-12 md:col-6 xl:col-4"
            v-for="airport in airports"
            :key="airport.id"
          >
            <router-link
              :to="{
                name: RouteNames.AIRPORT_DETAILS,
                params: { id: airport.id },
              }"
              class="airport-card"
            >
              <airport-card :airport="airport" />
            </router-link>
          </div>
        </div>
      </template>
    </content-pagination>
  </article>
</template>
