<script setup lang="ts">
import { useAirportsData } from '@/composables/use-airports-data';
import type { Airport } from '@/models/airport';
import PCard from 'primevue/card';
import PButton from 'primevue/button';
import { ref, onMounted } from 'vue';
import { useRoute } from 'vue-router';

const route = useRoute();
const { getAirportDetails } = useAirportsData();
const airport = ref<Airport | null>(null);

onMounted(async () => {
  airport.value = await getAirportDetails(Number(route.params.id));
});
</script>

<template>
  <div class="p-3">
    <p-button
      label="Back to list"
      icon="pi pi-arrow-left"
      class="p-button-secondary p-button-text mb-3"
      @click="$router.back()"
    />
    <p-card class="airport-details-card" v-if="airport !== null">
      <template #title> {{ airport.name }}</template>
      <template #content>
        <div class="col-12 font-semibold mt-3">General information</div>
        <div class="airport-details-card__content grid">
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Name</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.name }}
            </div>
          </div>
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">IATA code</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.iata }}
            </div>
          </div>
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Country</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.country }}
            </div>
          </div>
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">City</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.city }}
            </div>
          </div>
          <div class="col-12 font-semibold mt-3">Coordinates</div>
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Latitude</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.coordinates.lat }}
            </div>
          </div>
          <div class="airport-details-card__property col-12 md:col-6 xl:col-3">
            <label class="text-sm mb-1">Longitude</label>
            <div class="border-1 p-1 border-round-md border-blue-100">
              {{ airport.coordinates.lng }}
            </div>
          </div>
        </div>
      </template>
    </p-card>
  </div>
</template>
