<script lang="ts" setup>
import PCard from 'primevue/card';
import { useAirlinesData } from '@/composables/use-airlines-data';
import { useAirportsData } from '@/composables/use-airports-data';
import { onMounted, ref } from 'vue';

const { getAirlinesCount } = useAirlinesData();
const { getAirportsCount } = useAirportsData();
const airlinesCount = ref(0);
const airportsCount = ref(0);

onMounted(async () => {
  const [airlines, airports] = await Promise.all([
    getAirlinesCount(),
    getAirportsCount(),
  ]);
  airlinesCount.value = airlines;
  airportsCount.value = airports;
});
</script>

<template>
  <section class="flex justify-content-center my-3">
    <p-card style="max-width: 50em">
      <template #header>
        <img src="/public/home-card-bg.jpg" />
      </template>
      <template #title>Welcome to AirDB!</template>
      <template #content>
        <p>
          Search for the Airports and Airlines from all over the world! You can
          find information about
          <span class="font-bold">{{ airportsCount }} airports</span> and
          <span class="font-bold">{{ airlinesCount }} airlines</span> on our
          page! Apart from the listings, each airport and airline have its own
          page where you can find detailed information about the entity.
        </p>
      </template>
    </p-card>
  </section>
</template>
