<script setup lang="ts">
import type { Airline } from '@/models/airline';
import PCard from 'primevue/card';

defineProps<{ airline: Airline }>();
</script>

<template>
  <p-card class="airline-card">
    <template #title> {{ airline.name }}</template>
    <template #content>
      <div class="airline-card__content grid">
        <div class="airline-card__property col-12 md:col-6">
          <label class="text-sm mb-1">IATA</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airline.iata || '-' }}
          </div>
        </div>
        <div class="airline-card__property col-12 md:col-6">
          <label class="text-sm mb-1">ICAO</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airline.icao || '-' }}
          </div>
        </div>
        <div class="airline-card__property col-12 md:col-6">
          <label class="text-sm mb-1">Callsign</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airline.callsign || '-' }}
          </div>
        </div>
        <div class="airline-card__property col-12 md:col-6">
          <label class="text-sm mb-1">Country</label>
          <div class="border-1 p-1 border-round-md border-blue-100">
            {{ airline.country || '-' }}
          </div>
        </div>
      </div>
    </template>
  </p-card>
</template>
