<script setup lang="ts">
import type { RouteLocationNamedRaw } from 'vue-router';
import PButton from 'primevue/button';

export interface NavLink {
  label: string;
  to: RouteLocationNamedRaw;
}

defineProps<{ links: Readonly<NavLink[]> }>();
</script>

<template>
  <header
    class="header flex flex-row align-items-center border-primary border-bottom-2"
  >
    <span class="page-title font-bold text-2xl pl-3 pr-3">AirDB</span>
    <nav class="navbar">
      <router-link
        v-for="link in links"
        :key="link.to.name"
        :to="link.to"
        class="nav-link mx-1"
      >
        <p-button
          :label="link.label"
          :class="{
            'p-button-outlined':
              $route.name !== link.to.name &&
              $route.meta.parentRoute !== link.to.name,
          }"
        />
      </router-link>
    </nav>
  </header>
</template>

<style scoped>
.header {
  height: var(--header-height);
}
</style>
