<script lang="ts" setup>
import { toRefs, computed } from 'vue';
import PButton from 'primevue/button';

const props = defineProps({
  items: {
    type: Array,
    required: true,
  },
  currentPage: {
    type: Number,
    required: false,
    default: 1,
  },
  itemsPerPage: {
    type: Number,
    required: false,
    default: 36,
  },
});
const emit = defineEmits(['update:currentPage']);

const { currentPage, itemsPerPage, items } = toRefs(props);
const numberOfPages = computed(() =>
  Math.ceil(items.value.length / itemsPerPage.value)
);
const startIndex = computed(() => itemsPerPage.value * (currentPage.value - 1));
const endIndex = computed(() => startIndex.value + itemsPerPage.value);
const pageItems = computed<any>(() =>
  items.value.slice(startIndex.value, endIndex.value)
);
const isFirstPage = computed(() => currentPage.value === 1);
const isLastPage = computed(() => currentPage.value === numberOfPages.value);

const setPage = (page: number) => {
  if (page <= 0 || page > numberOfPages.value) {
    return;
  }
  emit('update:currentPage', page);
};
</script>

<template>
  <div class="pagination">
    <div class="pagination__content">
      <slot name="items" :pageItems="pageItems" />
    </div>
    <div class="pagination__controls flex flex-row justify-content-center">
      <slot
        name="first-page-button"
        :isFirstPage="isFirstPage"
        :isLastPage="isLastPage"
        :setPage="setPage"
        :currentPage="currentPage"
      >
        <p-button
          label="First"
          class="p-button-link"
          :disabled="isFirstPage"
          @click="setPage(1)"
        />
      </slot>
      <slot
        name="previous-page-button"
        :isFirstPage="isFirstPage"
        :isLastPage="isLastPage"
        :setPage="setPage"
        :currentPage="currentPage"
        :previousPage="isFirstPage ? null : currentPage - 1"
      >
        <p-button
          class="p-button-rounded"
          icon="pi pi-angle-left"
          :disabled="isFirstPage"
          @click="setPage(currentPage - 1)"
        />
      </slot>
      <span class="flex flex-row align-content-center align-self-center mx-3">
        <span>{{ currentPage }}</span>
        <span class="mx-1"> / </span>
        <span>{{ numberOfPages }}</span>
      </span>
      <slot
        name="next-page-button"
        :isFirstPage="isFirstPage"
        :isLastPage="isLastPage"
        :setPage="setPage"
        :currentPage="currentPage"
        :nextPage="isLastPage ? null : currentPage + 1"
      >
        <p-button
          class="p-button-rounded"
          icon="pi pi-angle-right"
          :disabled="isLastPage"
          @click="setPage(currentPage + 1)"
        />
      </slot>
      <slot
        name="last-page-button"
        :isFirstPage="isFirstPage"
        :isLastPage="isLastPage"
        :setPage="setPage"
        :currentPage="currentPage"
      >
        <p-button
          label="Last"
          class="p-button-link"
          :disabled="isLastPage"
          @click="setPage(numberOfPages)"
        />
      </slot>
    </div>
  </div>
</template>
