<script setup lang="ts">
import { readonly } from 'vue';
import { RouterView, useRoute } from 'vue-router';
import { RouteNames } from '@/router';
import { useHead } from '@unhead/vue';
import AppHeader from './components/AppHeader.vue';

const route = useRoute();

const headerLinks = readonly([
  {
    label: 'Home',
    to: { name: RouteNames.HOME },
  },
  {
    label: 'Airlines',
    to: { name: RouteNames.AIRLINES_LIST },
  },
  {
    label: 'Airports',
    to: { name: RouteNames.AIRPORTS_LIST },
  },
  {
    label: 'Admin Panel',
    to: { name: RouteNames.ADMIN_PANEL },
  },
]);

useHead({
  link: () => [{ rel: 'canonical', href: route.fullPath }],
  title: 'AirDB',
  meta: [
    {
      name: 'description',
      content: 'Search for the Airports and Airlines from all over the world!',
    },
  ],
});
</script>

<template>
  <app-header :links="headerLinks" />
  <main class="view-container">
    <router-view />
  </main>
</template>

<style scoped>
.view-container {
  height: calc(100vh - var(--header-height));
  overflow: auto;
}
</style>
